.login-main {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 60px 20px;
    min-height: calc(100vh - 300px);
}

.login-box {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.login-box h2 {
    color: #222;
    margin-bottom: 10px;
}

.login-box h3 {
    color: #666;
    margin-bottom: 30px;
    font-weight: normal;
}

.login-box label {
    display: block;
    margin: 15px 0 5px;
    font-weight: 500;
    color: #333;
    font-size: 16px;
}

.login-btn {
    background-color: #228B22;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    display: block;         /* importante para ocupar línea completa */
    margin-top: 20px;       /* espacio respecto al input anterior */
    text-align: left;       /* alinear texto a la izquierda */
}

.login-btn:hover {
    background-color: #1c741c;
}

.registro-link {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

.registro-link a {
    color: #228B22;
    text-decoration: none;
    font-weight: bold;
}

.registro-link a:hover {
    text-decoration: underline;
}
